.biker-zone-color{
    background-color: rgb(169, 90, 90);
}
.footer{
    width: 100%;
    height: 50vh;
    background-color: black;
    color: white;
}
ul > li{
  list-style: none;
  margin-right: 24px;
}
.image-size{
    width: 50%;
    height: 50px;
}